@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/*var*/
:root {
  --white: rgba(232, 237, 239, 1);

  --academy-main: #f21d1dc4;
  --academy-bg: #FFFAFA;
  --academy-light: #FCEEEE;
  --academy-link: #CF0C0C;
  --academy-hover: #9F0909;
  --academy-checked: #6F0606;

  --deti-main: #118c8ccd;
  --deti-bg: #F7FAFA;
  --deti-light: #DCE6E6;
  --deti-link: #118C8C;
  --deti-hover: #066565;
  --deti-checked: #015151;

  --doma-main: #ff7b00c8;
  --doma-bg: #FFFCFA;
  --doma-light: #F8EFE7;
  --doma-link: #CC6300;
  --doma-hover: #994A00;
  --doma-checked: #7A3C00;

  --enviro-main: #5bae13c3;
  --enviro-bg: #FBFEFA;
  --enviro-light: #EEF7F0;
  --enviro-link: #44810E;
  --enviro-hover: #2C5309;
  --enviro-checked: #274F03;

  --ft-main: #d9b870c0;
  --ft-bg: #FBF8F1;
  --ft-light: #F4EBD7;
  --ft-link: #CFA44A;
  --ft-hover: #C18E25;
  --ft-checked: #9F7214;

  --lyzovani-main: #00a6ffc7;
  --lyzovani-bg: #FAFDFF;
  --lyzovani-light: #E4F0F6;
  --lyzovani-link: #0084CC;
  --lyzovani-hover: #006399;
  --lyzovani-checked: #004266;

  --plavani-main: #0031e0c8;
  --plavani-bg: #FAFBFF;
  --plavani-light: #E6EAF9;
  --plavani-link: #486EFF;
  --plavani-hover: #0034FA;
  --plavani-checked: #001F94;

  --vylety-main: #f2ab27c1;
  --vylety-bg: #FFFDFA;
  --vylety-light: #F9F1E1;
  --vylety-link: #D8910D;
  --vylety-hover: #A8710A;
  --vylety-checked: #785107;
}
/*defs*/
h1{
  font-family: Barlow;
  font-size: 6vh;
  font-style: normal;
  font-weight: 700;
  line-height: 7vh; /* 133.333% */
  letter-spacing: 0.14063rem;
}
h2{
  font-family: Barlow;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}
h3{
  font-family: Barlow;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
}
h4{
  font-family: Barlow;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.1875rem; /* 140% */
  text-transform: uppercase;
}
h5{
  font-family: Barlow;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px; /* 140% */
  text-transform: uppercase;
}
/*base*/
html,
body {
  background: #FBF8F1;
  overflow-x: hidden;
  font-family: Barlow;
  line-height: 35px;
}
*{
  border-radius: 10px;
}
a:hover{
  transition: all 0.5s ease-in-out;
}
a:hover{
  color: #D9B770;
}
a:hover > * {
  transition: all 0.5s ease-in-out;
}
a:hover > * {
  color: #D9B770;
}
p{
  font-family: Barlow;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.1875rem; /* 194.444% */
}
li{
  list-style: circle;
  margin-left: 30px;
}
@media (orientation: landscape) {
  #h1ro{
    color: white;
    z-index: 5;
    position:absolute;
    top: 180px;
    width: auto;
    max-width: 60%;
    left: 60px;
    padding: 60px;
  }
}
/*mobile*/

@media (orientation: portrait) {
  h1{
    font-size: 60px;
    line-height: 90px;
  }
  h2{
    font-family: Barlow;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.8125rem; /* 128.571% */
    letter-spacing: 0.10938rem;
    text-transform: uppercase;
  }
  *{
    flex-direction: column;
  }
  #h1ro{
    color: white;
    z-index: 5;
    position:absolute;
    width: 100%;
    height: fit-content;
    padding: 45px 30px;
    right: 0;
    left: 0;
    padding: 30px;
  }
}

/*components*/
.odsazeni{
  padding: 120px 10%!important;
}
.Odsazeni{
  margin: 90px 10% 90px 10%!important;
}
.button-row{
  display: flex;
  flex-direction: row;
  gap: 30px;
}
@media (orientation: portrait){
  .odsazeni{
    padding: 30px!important;
  }
  .Odsazeni{
    margin: 30px!important;
  }
  .button-row{
    flex-direction: row;
  }
}
.noBreak {
  white-space: nowrap;
  display: inline-flex;
  flex-wrap: wrap;
}

.checkbox{
  width: 1em;
  height: 1em;

}
.button-promo{
  padding: 1em 1.5em;
  border-radius: 15px;

  align-content: center;
  justify-content: space-around;

  background: rgba(0, 0, 0, 0.5);

  transition: all 0.5s ease-in-out;
}
.button-promo:hover{
  background: rgba(0, 0, 0, 0.5);
}
.button{
  color: white;
  font-weight: bold;
  display: inline-flex;
  padding: 5px 30px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 30px;
  background: var(--flashtones-link, #daaf52);
  transition: all 0.5s ease;
}
.button:hover{
  color: rgb(241, 253, 255);
  border-radius: 25px;
  background: #dbb488;
}
.inline-button{
  color: var(--deti-link);
  font-weight: bold;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: all 0.5s ease;
}
.inline-button:hover{
  border-radius: 25px;
}
/*pc menu*/

.pcMenu{
  z-index: 98;
  position: fixed;
  top: 90px;
  right: 60px;
  left: 60px;
  height: 60px;

  transition: all 0.5s ease;
}
.pcMenuBar{
  z-index: 100;
  position: fixed;
  top: 90px;
  right: calc(60px + 7em);
  left: 60px;
  height: 60px;

  padding: 1em 1.5em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  background: rgba(255, 255, 255, 0.968);

  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;

  transition: all 0.5s ease;
}
.pcMenuBar a img {
  border-radius: 0;
}
.pcMenuBarLinks{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
.pcMenuBarLinks a{
  padding: 0 0.5em;
}
.pcMenuBottom:hover{
  height: 540px;

  background: rgba(255, 255, 255, 0.161);

  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}
.pcMenuBottomLinks{
  padding-top: 60px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.pcMenuBottomLink{
  position: relative;

  width: 0px;
  height: 0px;

  transition: all 0.75s ease;

  visibility: hidden;
  opacity: 0;


  filter: blur(20px);
  -webkit-filter: blur(20px);

  transform: scaleY(0%);
}
.deti-grid{
  position: relative;

  width: 0px;
  height: 0px;

  transition: all 0.75s ease;

  visibility: hidden;
  opacity: 0;


  filter: blur(20px);
  -webkit-filter: blur(20px);

  transform: scaleY(0%);
}
.pcMenuBottom:hover > .pcMenuBottomLinks > .pcMenuBottomLink{
  visibility: visible;
  opacity: 1;

  width: 25vw;
  height: 120px;

  padding: 1em 1.5em;

  filter: blur(0px);
  -webkit-filter: blur(0px);
  transform: scaleY(100%);

  background: rgba(0, 0, 0, 0.357)
}
.pcMenuBottom:hover > .pcMenuBottomLinks > .deti-grid{
  visibility: visible;
  opacity: 1;

  width: 100%;
  height: 100%;

  padding: 1em 1.5em;

  filter: blur(0px);
  -webkit-filter: blur(0px);
  transform: scaleY(100%);

}
.pcMenuBottomLink a{
  font-weight: bold;
}
#item1 {
  grid-column-start: 1;
  grid-column-end: 4;
  width: auto;
}
.pcMenuBottomBurger{
  position: absolute;
  right: 0;
  top: 0;
  width: 90px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease;
}
.pcMenuBottomBurger img{
  position: absolute;
  margin: auto;
  width: 30px;
  height: 30px;
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
          filter: invert(100%);
  -webkit-filter: brightness(2); /* safari 6.0 - 9.0 */
          filter: brightness(2);
}
.pcMenuBottomBurger:hover{
  opacity: 0;
  visibility: hidden;
}
/*lokace item*/
.detail-lokace-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
}
.detail-lokace-item-column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 0 0 30px;
}
.detail-lokace-item img{
  width: 270px;
  height: 185px;
  background-position: center;
  background-repeat: no-repeat;
}
@media (orientation: portrait){
  .detail-lokace-item{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 15px;
  }
  .detail-lokace-item-column{
    padding: 0;
  }
  .detail-lokace-item img{
    margin-bottom: 30px;
  }
}
/* head-small*/

.hero-small{
  height: 350px;
  width: 100%;
  background-image: url(/images/ft/head-small.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .hero-small h2{
  padding-top: 90px;
  color: var(--White, #FFF);
  text-align: center;
  font-family: Barlow;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 133.333% */
  letter-spacing: 2.25px;
  text-transform: uppercase;
 }

 .course-container{
  padding: 30px 135px;
 }
 /*kurz nav*/

 .kurz-nav{
  gap: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  flex-wrap: wrap;
}
.kurz-item{
  display: inline-flex;
  height: fit-content;
  width: 350px;
  padding: 30px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  flex-shrink: 0;
  background: var(--White, #FFF);

  /* Shadow News */
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.03);
}
.kurz-item p{
  flex: 1 0 0;
  color: var(--Text, #333);
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 194.444% */
}
@media (orientation: portrait){
  .kurz-nav{
    flex-direction: column;
  }
  .kurz-item{
    width: 80%;
  }
}
/*section toggle*/

.section-toggle {
  font-weight: bold;
  text-transform: uppercase;
  height: 90px;
  margin: 30px auto 30px auto;
  padding: 30px;
  background: rgba(2, 3, 3, 0.1);
  transition: all 0.5s ease;
  border-radius: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  gap: 30px;
}
.section-toggle:hover {
  background: rgba(0, 0, 0, 0.2);
}
.section-toggle a {
  font-size: 28px;
  width: 50%;
  height: 100%;
  padding: 5px 15px;
  border-radius: 45px;
  background: rgba(156, 199, 249, 0.1);
  transition: all 0.5s ease;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
@media (orientation: portrait){
  .section-toggle {
    font-weight: bold;
    height: auto;
    max-width: fit-content;
    margin: 30px auto 30px auto;
    padding: 30px;
    flex-direction: column;
    gap: 30px;
  }
  .section-toggle a {
    height: auto;
    width: auto;
    flex-direction: column;
    padding: 5px 15px;
  }
}
.section-toggle a:hover {
  background: rgba(255, 255, 255, 1);
}
.section-toggle .active {
  background: rgba(255, 255, 255, 1);
}
.hidden {
  display: none;
}
@media (orientation: portrait){
  .section-toggle{
    width: 80%;
  }
}
/*kurz cta*/
.detail-cta{
  position: fixed;
  right: 60px;
  top: 180px;
  border-top: 5px solid #486EFF ;
  background: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.05));
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 30px;
  transition: all 0.5s ease-in;
  backdrop-filter: blur(5px);
}
.detail-cta span{
  white-space: no-wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #486EFF;
  font-weight: bold;
}
.detail-cta a{
  white-space: no-wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #486EFF;
  font-weight: bold;
}
.detail-cta .cta-button{
  white-space: no-wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #486EFF;
  font-weight: bold;
  padding: 15px 30px;
  margin-bottom: 30px;
  border-radius: 40px;
  color: white;

}
.detail-cta .cta-button:hover{
  background: #6d96ff;
}
.detail-cta bold{
  color: var(--zs-plavani-main, #002FE0);
  text-align: right;
  font-family: Barlow;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: 45px; /* 180% */
}
@media (orientation: portrait){
  .detail-cta{
  position: fixed;
  right: 30px;
  top: calc(100vh - 90px);
  border-top: 5px solid #486EFF ;
  background: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.05));
  display: flex;
  flex-direction: column;
  width: calc(100% - 60px);
  padding: 30px;
  transition: all 0.5s ease-in;
}
  .detail-cta:hover{
    transform: translateY(-90%);
}
}
  /*kdo jsme*/

  

  /*general*/

 .general > div{
  width: 50%;
  padding: 30px;
  background: rgba(0, 0, 0, 0.02);
  border-radius: 15px;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  transform: scale(1);
  transition: all 0.5s ease;
}
.general > div:hover{
  padding: 30px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  transform: scale(1.05);

}
.projekt{
  align-self: flex-start;
}
.prubeh{
  margin-top: -15px;
  align-self: center;
}
.program{
  margin-top: -15px;
  align-self: flex-end;
}
@media (orientation: portrait){
  .general > div{
    width: 100%;
  }
  .projekt{
    align-self: center;
  }
  .prubeh{
    margin-top: 0;
    align-self: center;
  }
  .program{
    margin-top: 0;
    align-self: center;
  }

}
/*about*/

/* Custom styles for the navigation bar */
.nav-item {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.nav-item.active {
  background-color: #DCE6E6;
}

/* Custom styles for the profile grid */
.profile-item {
  cursor: pointer;
  transition: transform 0.2s ease;
  background-color: #F3F4F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
}

.profile-item:hover {
  transform: translateY(-5px);
}

/* Custom styles for the tooltip */
.tooltip {
  position: fixed;
  max-width: 300px;
  padding: 8px;
  background-color: #b5dfdf;
  color: black;
  z-index: 9999;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.profile-item:hover .tooltip {
  opacity: 1;
}

/*kazeta*/

.kazeta{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.kazeta > div{
  width: 50%;
  display: flex;
  flex-direction: column;
}
@media (orientation:portrait){
  .kazeta{
      flex-direction: column;
  }
  .kazeta > div{
      width: 100%;
  }
.kazeta-sudan{
  width: 100%;
  height: 50vh;
}
.kazeta-prace{
  width: 100%;
  height: 50vh;
}
}
.kazeta-sudan{
  background-image: url(/images/academy/academy-sudan.jpeg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.kazeta-prace{
  background-image: url(/images/academy/academy-sudan.jpeg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/*global*/

.zs-menu-deti{
  color: #118C8C;
  text-transform: uppercase;
  font-weight: bold;
}
.zs-menu-plavani{
  color: #002FE0;
  text-transform: uppercase;
  font-weight: bold;
}
.zs-menu-lyzovani{
  color: #00A5FF;
  text-transform: uppercase;
  font-weight: bold;
}
.zs-menu-enviro{
  color: #5CAE13;
  text-transform: uppercase;
  font-weight: bold;
}
.zs-menu-vylety{
  color: #F2AB27;
  text-transform: uppercase;
  font-weight: bold;
}
.zs-menu-doma{
  color: #FF7C00;
  text-transform: uppercase;
  font-weight: bold;
}
.zs-menu-academy{
  color: #F21D1D;
  text-transform: uppercase;
  font-weight: bold;
}
