
/*var*/
:root {
    --white: rgba(232, 237, 239, 1);
  }
  .zs-menu-plavani{
    color: #002FE0;
    text-transform: uppercase;
  }
  .zs-menu-lyzovani{
    color: #00A5FF;
    text-transform: uppercase;
  }
  .zs-menu-enviro{
    color: #5CAE13;
    text-transform: uppercase;
  }
  .zs-menu-vylety{
    color: #F2AB27;
    text-transform: uppercase;
  }
  .zs-menu-doma{
    color: #FF7C00;
    text-transform: uppercase;
  }
  .zs-menu-academy{
    color: #F21D1D;
    text-transform: uppercase;
  }