
/*var*/
:root {
    --white: rgba(232, 237, 239, 1);
  }
  .zs-menu-plavani{
    color: ;
    text-transform: uppercase;
  }
  .zs-menu-lyzovani{
    color: ;
    text-transform: uppercase;
  }
  .zs-menu-enviro{
    color: ;
    text-transform: uppercase;
  }
  .zs-menu-vylety{
    color: ;
    text-transform: uppercase;
  }
  .zs-menu-doma{
    color: ;
    text-transform: uppercase;
  }
  .zs-menu-academy{
    color: ;
    text-transform: uppercase;
  }