<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta name="description" content="Pořádáme sportovní a vzdělávací akce pro školy i pro veřejnost.
                                      Empowering children through engaging sports & educational programs. Swimming, Field Trips, Skiing, & more! Largest swimming school in Czech Republic. Learn more!">

    <meta property="og:title" content="ZŠ PRO DĚTI" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://zsprodeti.cz" />
    <meta property="og:image" phx-track-static content="https://zsprodeti.cz/images/favicon/deti/icon.png" />


    <.live_title>
      <%= assigns[:page_title] || "ZŠ PRO DĚTI" %>
    </.live_title>
    <link rel="icon" type="image/png" data-dynamic-href="/images/favicon/{dynamic}/icon.png" href="/images/favicon/deti/icon.png" >
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script>window.userToken = "<%= assigns[:user_token] %>";</script>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LNPYJNC3KY"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag () {dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-LNPYJNC3KY');
    </script>
  </head>
  <body class="antialiased">
    <%= @inner_content %>
  </body>
</html>
